# @Date:   11.18.2017 11:13am
# @Filename: .eslintrc
# @Last modified time: 11.18.2017 11:13am

{
  "extends": ["airbnb"],
  "parser": "babel-eslint",
  "plugins": [
    "jest"
  ],
  "rules": {
    "no-console": 0,
    "no-else-return": ["error", { allowElseIf: true }],
    "no-return-assign": 2,
    "jest/no-disabled-tests": "warn",
    "jest/no-focused-tests": "error",
    "jest/no-identical-title": "error",
    "jest/valid-expect": "error",
    "jsx-quotes": ["error", "prefer-single"]
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "jest/globals": true
  }
}
